/* 全体のレイアウト */
.App {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .App {
    display: contents;
  }
  .App .number-container{
    justify-content: center;
  }
}

/* 中央に表示する現在の数字とボタン */
.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 768px) {
  .content {
    margin-top: 50px;
  }
}

/* 現在の数字を表示する部分 */
.current-number p {
  font-size: 500px;
  font-weight: bold;
  margin: 30px 0;
  text-align: center;
  color: #fff;
  text-shadow: 4px 4px 20px #f3b2c5ee;
}
@media screen and (max-width: 768px) {
  .current-number p {
    font-size: 150px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
    color: #fff;
    text-shadow: 4px 4px 20px #f3b2c5ee;
  }
}

.current-number p.bingo-text {
  font-size: 160px !important;
  color: #fcfcfc !important;
  margin: 30px;
  line-height: 625px;
  text-align: center;
  text-shadow: 4px 4px 10px #eaf51c;
  border-radius: 200px;
  padding: 20px;
  position: static;
}
@media screen and (max-width: 768px) {
  .current-number p.bingo-text {
    font-size: 100px !important;
    color: #fcfcfc !important;
    margin: 20px;
    line-height: 100px;
    text-align: center;
    text-shadow: 4px 4px 10px #eaf51c;
    border-radius: 200px;
    padding: 20px;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fade-out {
  animation: fadeOut 1s ease-out forwards;
}

/* スタートボタンのスタイル */
.start-button {
  margin: 20px;
  padding: 0;
}
button {
  width: 400px;
  height: 250px;
  font-size: 80px;
  align-items: center;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  border-radius: 50px;
  border: 20px solid #ffffff;
  background-color: #f75159;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 初期状態での影 */
  transition: box-shadow 0.2s ease, transform 0.095s ease;
}
@media screen and (max-width: 768px) {
  button {
    width: 110px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border-radius: 50px;
    border: 10px solid #ffffff;
    background-color: #f75159;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 初期状態での影 */
    transition: box-shadow 0.2s ease, transform 0.095s ease;
  }
}

/* スタートボタンのホバー効果 */
button:hover {
  border: 10px solid #f3c52c;
  background-color: #f4f742;
  color: #d56a0c;
  cursor: pointer;
  transition: background-color 0.1s ease; /* 色の変化にスムーズなアニメーション */
  transform: scale(1.1);
}
button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transform: translateY(4px) scale(0.95);
}

.reset-button button {
  width: 150px;
  height: 80px;
  font-size: 30px;
  border: 10px solid #fff157;
  background-color: #f3c52c;
  border-radius: 10px;
  margin-top: 50px;
  color: #838583;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 初期状態での影 */
  transition: box-shadow 0.2s ease, transform 0.1s ease;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .reset-button button {
    width: 80px;
    height: 40px;
    font-size: 15px;
    border: 5px solid #fff157;
    background-color: #f3c52c;
    border-radius: 10px;
    margin-top: 20px;
    color: #838583;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 初期状態での影 */
    transition: box-shadow 0.2s ease, transform 0.1s ease;
  }
}

/* リセットボタンのホバー効果 */
.reset-button :hover {
  border: 5px solid #f3c52c;
  background-color: #f4f742;
  color: #838583;
  cursor: pointer;
  transition: background-color 0.1s ease; /* 色の変化にスムーズなアニメーション */
  transform: scale(1.1);
}
.reset-button :active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transform: translateY(4px) scale(0.95);
}

/* 数字が拡大して現れるアニメーション */
@keyframes scaleUpAndRotate {
  0% {
    transform: scale(0) rotate(0deg); /* 初期状態：拡大なし、回転なし */
    opacity: 0;
  }
  50% {
    transform: scale(1.2) rotate(1440deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(1440deg);
  }
}

/* アニメーション適用クラス */
.animate-number {
  display: inline-block;
  animation: scaleUpAndRotate  1.5s ease-out;
}

