.number-container {
	display: flex;
  flex-direction: column; /* 縦並び */
  align-items: flex-end;
	margin: 50px 10px 0 0 ;
  padding: 20px;
	width: 30%; /* 画面の右3分の1 */
  height: calc(100vh - 100px);
	right: 0;
  top: 0;
  background-color: #f8f8f8;;
  border-radius: 10px;
	overflow-x: none;
	overflow-y: hidden;
}
.number-container h3 {
  text-align: center; /* 中央揃え */
  width: 100%;
	font-size: 40px;
	color: #f67c9fee;
	margin-bottom: 20px;
	text-shadow: 5px 5px 5px #ffffff;
	font-family: 'Baloo', cursive in !important;
	font-weight: bold;
}

.number-column-wrapper {
  display: flex;
  flex-wrap: wrap; /* 1列内で横並びにする */
  justify-content: flex-start; /* 左寄せ */
  margin-bottom: 20px; /* 各列間のスペース */
}

.number-item {
  width: 70px;
  height: 70px;
	color: #fff;
  text-align: center;
  font-size: 45px;
  border-radius: 40%;
  margin-bottom: 10px;
  margin-right: 10px;
	font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-pre-number {
  animation: fadeIn 1s ease-out;
}

.column-0 .number-item {
  background: linear-gradient(to bottom right, #edf8b8, #9a07a5);
}
.column-1 .number-item {
  background: linear-gradient(to bottom right, #efe2cd, #d0e720);
}
.column-2 .number-item {
  background: linear-gradient(to bottom right, #efe2cd, #39b54a);
}
.column-3 .number-item {
  background: linear-gradient(to bottom right, #ff9a9e, #fad0c4);
}
.column-4 .number-item {
  background: linear-gradient(to bottom right, #ff7e5f, #feb47b);
}
.column-5 .number-item {
  background: linear-gradient(to bottom right, #a18cd1, #fbc2eb);
}
.column-6 .number-item {
  background: linear-gradient(to bottom right, #84fab0, #8fd3f4);
}
